body 
{
	padding-top: 50px;
}
.starter-template 
{
	padding: 40px 15px;
	text-align: center;
}

.modal .modal-body 
{
    max-height: 600px;
    overflow-y: auto;
}

.modal-backdrop 
{
    z-index: 0;
}